AUTH_NGINX_PORT=18080
DJANGO_SECRET_KEY=73b6c7b0ecc2f2be3b3f9ee2770d00ab2f7577299baff92350ce3eee9c3b7e39d1fd38de19ccf7da442ecad0c28c95ae
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,auth-nginx
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:18080
DB_HOST=auth-db
DB_PORT=5432
DB_NAME=auth_db
DB_USER=auth_user
DB_PASSWORD=5c21b837e6a5076638119ccc92554861daa226ff4a3e3ed6
REDIS_URL=redis://:e3fe387fa8a46a1c8871f8476c07a9f39383c4838d7e965b@auth-redis:6379/1
REDIS_PASSWORD=e3fe387fa8a46a1c8871f8476c07a9f39383c4838d7e965b
GUNICORN_WORKERS=17
GUNICORN_TIMEOUT=60
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=7
MEMBRES_SERVICE_URL=http://host.docker.internal:18081
MEMBRES_SERVICE_TIMEOUT=3
INITIAL_ADMIN_ENABLED=true
INITIAL_ADMIN_EMAIL=admin@example.com
INITIAL_ADMIN_PASSWORD=9cc9e4ef536249f1a02d490886fb777c011c4fe58c2ab9a3
INITIAL_ADMIN_ROLE=admin
INITIAL_ADMIN_MEMBRE_ID=1
