DJANGO_ENV=development
DEBUG=True
SECRET_KEY=unsafe-dev-secret

POSTGRES_DB=almizan_db
POSTGRES_USER=almizan_user
POSTGRES_PASSWORD=almizan_password
POSTGRES_PORT=5433

REDIS_PASSWORD=almizan_redis_password
REDIS_PORT=6379

MINIO_ACCESS_KEY=admin_almizan
MINIO_SECRET_KEY=SecurePassword123!
MINIO_BUCKET_NAME=almizan-documents
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

INTERNAL_SERVICE_TOKEN=dev-internal-token

BACKEND_PORT=8000
GATEWAY_PORT=8080
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_MAX_TOKENS=2000
GROQ_MAX_RETRIES=3
GROQ_RETRY_BASE_DELAY=5